html,
body {
    height: 100%;
}

html {
    font-size: .6rem;
}

body {
    background: $body-bg url('../images/bg-body.png') no-repeat center top fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    padding-top: 44px;

    &.main {
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;

        .breadcrumb {
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }
}

footer {
    background: transparent url('../images/bg-footer.png') no-repeat center center;
    background-size: cover;
    padding: 1.5rem 0;
    color: $light;
    position: relative;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    &.footer-landing {
        background: transparent url('../images/bg-footer-landing.png') no-repeat center center;
        background-size: cover;

        @include media-breakpoint-down(lg) {
            display: block;
        }
    }
}

@include media-breakpoint-up(sm) {
    html {
        font-size: .7rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: .8rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: .9rem;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size: 1rem;
    }

    main {
        padding-top: 80px;
    }
}