html,
body {
    height: 100%;
}

html {
    font-size: .6rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: .7rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: .8rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: .9rem;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size: 1rem;
    }
}

footer {
    background: transparent url('../images/bg-footer.png') no-repeat center top;
    background-size: cover;
    padding: 1.5rem 0;
    color: $light;
}