// BG gradient
@mixin bg-gd-orange {
    background: #ffb14b;
    background: -moz-linear-gradient(-45deg, #ffb14b 0%, #f7804a 50%, #c54039 75%, #490b14 100%);
    background: -webkit-linear-gradient(-45deg, #ffb14b 0%, #f7804a 50%, #c54039 75%, #490b14 100%);
    background: linear-gradient(135deg, #ffb14b 0%, #f7804a 50%, #c54039 75%, #490b14 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb14b', endColorstr='#490b14', GradientType=1);
    background-clip: padding-box;
}

@mixin bg-gd-yellow {
    background: #eaf618;
    background: -moz-linear-gradient(-45deg, #eaf618 0%, #e5d932 50%, #96b351 75%, #4e602c 100%);
    background: -webkit-linear-gradient(-45deg, #eaf618 0%, #e5d932 50%, #96b351 75%, #4e602c 100%);
    background: linear-gradient(135deg, #eaf618 0%, #e5d932 50%, #96b351 75%, #4e602c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf618', endColorstr='#4e602c', GradientType=1);
    background-clip: padding-box;
}

@mixin bg-gd-sky {
    background: #4ffeff;
    background: -moz-linear-gradient(-45deg, #4ffeff 0%, #2bcfcf 33%, #499a9d 66%, #499a9d 66%, #28617e 100%);
    background: -webkit-linear-gradient(-45deg, #4ffeff 0%, #2bcfcf 33%, #499a9d 66%, #499a9d 66%, #28617e 100%);
    background: linear-gradient(135deg, #4ffeff 0%, #2bcfcf 33%, #499a9d 66%, #499a9d 66%, #28617e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ffeff', endColorstr='#28617e', GradientType=1);
    background-clip: padding-box;
}

@mixin bg-gd-purple {
    background: #a74fff;
    background: -moz-linear-gradient(-45deg, #a74fff 0%, #702bcf 37%, #494c9d 68%, #28327e 100%);
    background: -webkit-linear-gradient(-45deg, #a74fff 0%, #702bcf 37%, #494c9d 68%, #28327e 100%);
    background: linear-gradient(135deg, #a74fff 0%, #702bcf 37%, #494c9d 68%, #28327e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a74fff', endColorstr='#28327e', GradientType=1);
    background-clip: padding-box;
}

@mixin bg-gd-green {
    background: #9ef28a;
    background: -moz-linear-gradient(-45deg, #9ef28a 0%, #3ba550 34%, #5a8b28 65%, #275306 100%);
    background: -webkit-linear-gradient(-45deg, #9ef28a 0%, #3ba550 34%, #5a8b28 65%, #275306 100%);
    background: linear-gradient(135deg, #9ef28a 0%, #3ba550 34%, #5a8b28 65%, #275306 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ef28a', endColorstr='#275306', GradientType=1);
    background-clip: padding-box;
}

@mixin bg-gd-blue {
    background: #558fa3;
    background: -moz-linear-gradient(-45deg, #558fa3 0%, #3d90ad 25%, #1e576b 50%, #0e3441 100%);
    background: -webkit-linear-gradient(-45deg, #558fa3 0%, #3d90ad 25%, #1e576b 50%, #0e3441 100%);
    background: linear-gradient(135deg, #558fa3 0%, #3d90ad 25%, #1e576b 50%, #0e3441 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#558fa3', endColorstr='#0e3441', GradientType=1);
    background-clip: padding-box;
}

// Text shadow
@mixin text-shadow {
    text-shadow: .1rem .1rem .5rem $gray-800;
}

// Borders
@mixin border-radius {
    border-radius: 1rem;
}

@mixin border-circle {
    border-radius: 100rem;
}