.navbar {
    justify-content: flex-start;
    box-shadow: $box-shadow-sm;

    &-toggler {
        border: unset;
    }

    &-brand {
        img {
            max-height: 80px
        }

        @include media-breakpoint-down(lg) {
            flex-grow: 1;
            text-align: center;
            height: 44px;
            font-size: 20px;
            font-weight: 700;

            img {
                height: 100%;
                vertical-align: middle;
            }
        }
    }
}