.sidebar {
    position: fixed;
    width: 255px;
    background-color: $dark;
    color: white;
    height: 100%;

    &-profile {
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        background: #558fa3;
        background: -moz-linear-gradient(-45deg, #558fa3 0%, #3d90ad 25%, #1e576b 50%, #0e3441 100%);
        background: -webkit-linear-gradient(-45deg, #558fa3 0%, #3d90ad 25%, #1e576b 50%, #0e3441 100%);
        background: linear-gradient(135deg, #558fa3 0%, #3d90ad 25%, #1e576b 50%, #0e3441 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#558fa3', endColorstr='#0e3441', GradientType=1);

        .profile {

            &-img {
                margin-right: 1rem;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    object-fit: cover;
                    border-radius: 10rem;
                }
            }

            &-name {
                color: white;
            }
        }
    }

    &-menu {
        height: 100%;

        .nav {
            &-link {
                display: flex;
                align-items: center;
                color: white;

                &.active {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 4rem;
                        margin: auto;
                        width: calc(100% - 3.5rem);
                        height: 70%;
                        background-color: $bg-sidebar-active;
                        border-top-left-radius: 10rem;
                        border-bottom-left-radius: 10rem;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: .01rem;
                        right: -.5rem;
                        width: 0;
                        height: 0;
                        border-left: 0.5rem solid darken($bg-sidebar-active, 15%);
                        border-bottom: .5rem solid transparent;
                    }

                    * {
                        position: relative;
                    }
                }
            }

            &-icon {
                margin-right: 1rem;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    object-fit: cover;
                    border-radius: 10rem;
                }
            }
        }
    }
}

.content {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: calc(255px + .5rem);
    min-height: 100vh;
}