// Theme colors
$primary: #186869;
$secondary: #02323B;
// $success:       ;
// $info:          ;
// $warning:       ;
// $danger:        ;
// $light:         ;
$dark: #252827;
$gold: #EDAA2E;
$bluelight:#96BBD5;
$bluedark:#07263B;
$yellowlight:#F0F2C6;
$redlight:#D58687;

// Landing colors
$cent:#062662;
$bg-cent-start:#0020A5;
$bg-cent-end:#08274B;
$mini:#5F1662;
$bg-mini-start:#B43597;
$bg-mini-end:#39084B;
$classic:#90280E;
$bg-classic-start:#C62813;
$bg-classic-end:#4B2708;
$standard:#062662;
$bg-standard-start:#00A585;
$bg-standard-end:#08274B;
$premium:#2D1171;
$bg-premium-start:#1351C6;
$bg-premium-end:#1B0433;
$vip:#897829;
$bg-vip-start:#B4AA35;
$bg-vip-end:#4D3903;

// Sidebar
$bg-sidebar-active:#4A97B2;

// Body
$body-bg:#0E3441;

// Card top
$bg-ct-orange-start: #FFB14B;
$bg-ct-orange-end: #490B14;

// Navbar
$navbar-padding-y: 0;
$navbar-brand-padding-y:0;

// Fonts
$font-family-base: 'Kanit',
sans-serif;
$font-pt: 'PT Serif Caption',
serif;

// Breadcrumb
$breadcrumb-divider: quote(">");
$breadcrumb-divider-color:white;
$breadcrumb-active-color:white;
$breadcrumb-margin-bottom:unset;