.withdraw-page {
    color: white;

    .card {
        background-color: $dark;
        @include border-radius;
        box-shadow: $box-shadow;
        margin-bottom: 1.5rem;

        &-title {
            text-align: center;
        }

        &-with-inform {
            .nav-pills {
                .nav-item {
                    margin-right: .25rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .nav-link {
                    background-color: $primary;
                    color: white;
                    border-radius: 10rem;
                    border: .25rem solid $primary;

                    &.active {
                        background-color: lighten($primary, 10%);
                    }
                }
            }

            .tab-content {
                .card-soucre {
                    @include text-shadow;
                }

                #pills {
                    &-profit {
                        .card-soucre {
                            @include bg-gd-orange;
                        }
                    }

                    &-commission {
                        .card-soucre {
                            @include bg-gd-purple;
                        }
                    }

                    &-capital {
                        .card-soucre {
                            @include bg-gd-green;
                        }
                    }
                }
            }


        }
    }

    @include media-breakpoint-down(lg) {
        .card-withdraw-his {
            display: none;
        }
    }
}